<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forgot Password</title>
    <style>
        a.reset-link {
            background-color: #4ea0bb;
            color: white;
            display: inline-block;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            border-radius: 5px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h2>Forgot Password</h2>
    <p>Please click on the following link to reset your password:</p>
    <a href="{{resetLink}}" class="reset-link">Reset Password</a>
</body>
</html> 